<% include partials/header.ejs %>
<div class="container" id ="onehome">    

    <div class="row">
        <div class="col-md-9">
                 <!--style="padding:0;"-->
            <div class="thumbnail" >
                 <!--style="width:100%"-->
                <img class="img-responsive" src="<%= homeinfo.image %>">
                <div class="caption-full" style="padding:19px">
                    <h4 class="pull-right">Price: <%= homeinfo.price %>/month</h4>
                    
                    <h4><%= homeinfo.name %> by <a href="">@<%= homeinfo.owner.firstname %></a></h4>
                    <p><%= homeinfo.description %> </p>
                    <!--<span >-->
                    
                     <% if(curruser && JSON.stringify(homeinfo.owner.id) === JSON.stringify(curruser._id)){ %>
                    <a style="margin-left:639px;margin-right:10px;" href="/payingguests/<%=homeinfo._id%>/edit" class="btn btn-default btn-lg">Edit</a>
                    <form id = "formdelete" action="/payingguests/<%=homeinfo._id%>?_method=DELETE" method="POST">
                        <button style="color:#202020;" class = "btn btn-danger btn-lg">Delete</button>
                    </form>
                    <% } %> 
                   
                </div>
            </div>
            <div class="well">
              <div>
                
                <form action="/payingguests/<%=homeinfo._id%>/comment/<%=commentinfo._id%>?_method=PUT" method="POST" class="form-inline">
                       
                <% if(curruser && JSON.stringify(homeinfo.owner.id) !== JSON.stringify(curruser._id)){ %>
                
                    <div class="form-group">
                        
                        <textarea style="margin-right:28px;" class="form-control" rows="2" cols="90" type="text" name="text" required><%= commentinfo.text %></textarea>
                        <!--<input class = "form-control" type="text" name="comment[text]" placeholder="Write a review">-->
                    </div>
                    <button class="btn btn-default btn-mg" type="submit">Update review!</button>  
                    
                 <% }    %>
                 
                </form>
            </div>
            <hr>
            
            <% homeinfo.comments.forEach(function(comment){ %>
            
            <% if(!comment._id.equals(commentinfo._id)) { %>
            
            <div class="row">
                <div class="col-md-12">
                     <strong><%= comment.author.firstname %></strong>
                     <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                     <p>
                        <%= comment.text %>  
                        
                                <% if(comment.author.id.equals(curruser._id)){ %>
                                <a class="pull-right" href="/payingguests/<%=homeinfo._id%>/comment/<%=comment._id%>/edit" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                <% } %>
                        
                     </p>
                    <!-- <button type="button" class="btn btn-default btn-lg">-->
                        
                    <!--</button>-->
                         
                </div>
            </div>
               <% } %>
                
            <% }); %>
            <!--style="width: 30%; margin:20px;"-->
           
            </div>
            
            
        </div>
        
        <div class="col-md-3">
            <p class="lead">paying GUEST</p>
            <div class="list-group">
                <li class="list-group-item active">List 1</li>
                <li class="list-group-item">List 2</li>
                <li class="list-group-item">List 3</li>
            </div>
            <div>
                
            </div>
        </div>
        
    </div>
    
</div>

<% include partials/footer.ejs %>