<% include partials/header.ejs %>
<div class="container" id ="onehome">    

    <div class="row">
        <div class="col-md-9">
                 <!--style="padding:0;"-->
            <div class="thumbnail" >
                 <!--style="width:100%"-->
                <img class="img-responsive" src="<%= homeinfo.image %>">
                <div class="caption-full" style="padding:19px">
                    <h4 class="pull-right">$16/night</h4>
                    
                    <h4><%= homeinfo.name %> by <a href="">@<%= homeinfo.owner.firstname %></a></h4>
                    <p><%= homeinfo.description %> </p>
                    <!--<span >-->
                    
                    <% if(JSON.stringify(homeinfo.owner.id) === JSON.stringify(curruser._id)){ %>
                    <a style="margin-left:94%" href="/payingguests/<%=homeinfo._id%>/edit" class="btn btn-default btn-sm">Edit</a>
                    <% } %>
                    <!--</span>-->
                </div>
            </div>
            <div class="well">
              <div>
                
                <form action="/payingguests/<%=homeinfo._id%>/comment" method="POST" class="form-inline">
                       
                <% if(JSON.stringify(homeinfo.owner.id) !== JSON.stringify(curruser._id)){ %>
                
                    <div class="form-group">
                        <textarea style="margin-right:28px;" class="form-control" rows="2" cols="90" type="text" name="text" placeholder="Write a review"></textarea>
                        <!--<input class = "form-control" type="text" name="comment[text]" placeholder="Write a review">-->
                    </div>
                    <button class="btn btn-default btn-mg" type="submit">Add review!</button>  
                    
                 <% } %>   
                 
                </form>
            </div>
            <hr>
            <% homeinfo.comments.forEach(function(comment){ %>
            <div class="row">
                <div class="col-md-12">
                     <strong><%= comment.author.firstname %></strong>
                     <span class="pull-right">3 days ago</span>
                     <p>
                        <%= comment.text %>    
                     </p>
                </div>
            </div>
               
                
            <% }); %>
            <!--style="width: 30%; margin:20px;"-->
           
            </div>
            
            
        </div>
        
        <div class="col-md-3">
            <p class="lead">paying GUEST</p>
            <div class="list-group">
                <li class="list-group-item active">List 1</li>
                <li class="list-group-item">List 2</li>
                <li class="list-group-item">List 3</li>
            </div>
            <div>
                
            </div>
        </div>
        
    </div>
    
</div>

<% include partials/footer.ejs %>